{% assign year = "now" | date: "%Y" | floor%}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#4285F4;" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll new-header" href="/#home">
                <span class="new-header">
                    <span class="highlight">#</span> 
                    <span class="subhigh">Hash Code Zaragoza 2020</span>
                </span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.layout == 'home' %}
                <li>
                    <a class="page-scroll" href="#info"><span class="new-header">¿Qué es?</span></a>
                </li>
                <li>
                    <a class="page-scroll" href="#where"><span class="new-header">¿Dónde es?</span></a>
                </li>
                {% endif %}
                {% unless page.layout == 'home' %}
                <li>
                    <a href="/"><span class="new-header">2020</span></a>
                </li>
                {% endunless %}
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="new-header">¡Síguenos en Redes!</span> <span class="caret new-header"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://twitter.com/hashcodezgz" target="blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                            <li><a class="dropdown-item" href="https://facebook.com/hashcodezgz" target="blank">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a></li>
                            <li><a class="dropdown-item" href="https://instagram.com/hashcodezgz" target="blank">
                                <i class="fa fa-instagram"></i> Instagram
                            </a></li>
                            <li><a class="dropdown-item" href="https://t.me/hashcodezgz" target="blank">
                                <i class="fa fa-paper-plane" style="font-size:12px"></i> Telegram
                            </a></li>
                        </ul>
                    </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="new-header">Otras ediciones</span> <span class="caret new-header"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/{{year}}">Año {{year}}</a></li>
                        <li role="separator" class="divider"></li>
                        {% for i in (2016..year) reversed %}
                        {% unless i == year %}
                        <li><a class="dropdown-item" href="/{{ i }}">Año {{ i }}</a></li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
