<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include navigation.html %}

<section id="home">
    <!-- Header -->
    <div class="intro-header-2016">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="/assets/img/hashcode_hero.png" alt="Hash Code Title" height="60%" width="60%">
                        <!--<h1>Landing Page</h1>-->
                        <h4>Más de 100 participantes hemos resuelto</h4>
                        <h4>desde el <span class="zaragoza-span">Hub de Zaragoza</span> @ <span class="zaragoza-span">EINA</span></h4>
                        <h4>problemas de ingeniería propuestos por <span class="zaragoza-span">Google</span></h4>
                        <h4>En Europa, Oriente Medio y África han participado</h4>
                        <h4>más de 26.000 estudiantes y profesionales</h4>
                        <!--<hr class="intro-divider">-->
                        <br/>
                        <ul class="list-inline intro-social-buttons" style="margin-bottom:50px;">
                            <li>
                                <h4>
                                    <a href="/assets/docs/youtube.pdf"
                                       class="btn btn-default btn-lg sign-up"><span class="network-name">Problema Hash Code 2017: Organizar las peticiones a vídeos de Youtube</span></a>
                                </h4>
                                <h4>
                                    <a href="https://github.com/lAngelP/hashcode2017"
                                       class="btn btn-default btn-lg sign-up"><span class="network-name">Solución propuesta por Mañocoders (EINA, 1.964.476 ptos)</span></a>
                                </h4>
                                <h4>
                                    <a href="https://hashcode.withgoogle.com/hashcode_2017.html"
                                       class="btn btn-default btn-lg sign-up"><span class="network-name">Visita los resultados de la ronda de calificación</span></a>
                                </h4>
                            </li>
                        </ul>
                        <p class="meetup">¡No te pierdas ningún hackathon!<br/>Únete a <a
                                href="http://www.meetup.com/es-ES/Zaragoza-Hackathons/" class="meetup-link">Zaragoza
                            Hackathons</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
</section>
<!-- /.banner -->
<!-- Footer -->
<div class="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="header text-center">Organizó:</h3>
                <div class="row logos">
                    <div class="col-md-12">
                        <a href="https://eina.unizar.es/"><img src="/assets/img/logo_eina.png"
                                                               class="img-responsive center-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="header text-center">Colaboró:</h3>
                <div class="row logos">
                    <div class="col-md-4">
                        <a href="http://iaaa.unizar.es/"><img src="/assets/img/iaaa.jpg"
                                                              class="img-responsive center-block"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://robots.unizar.es/"><img src="/assets/img/robotics.png"
                                                                class="img-responsive center-block"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.geoslab.com/"><img src="/assets/img/geoslab.png"
                                                               class="img-responsive center-block"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="copyright text-muted small">Copyright &copy; 2018 <a href="https://twitter.com/borjaeg">@borjaeg</a>
                    <a href="https://twitter.com/fjlopezpellicer">@fjlopezpellicer</a> <a href="https://twitter.com/lAngelP">@lAngelP</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-4">
                <p class="copyright">Credits: Images from <a href="http://google.com/">Google</a>.</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery Version 1.11.0 -->
<script src="/assets/js/jquery-1.11.0.js"></script>
<!-- Plugin JavaScript -->
<script src="/assets/js/jquery.easing.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/assets/js/landing-page.js"></script>
</body>

</html>
