<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include navigation.html %}

<section id="home">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="/assets/img/hashcode_hero.png" alt="Hash Code Title" height="60%" width="60%">
                        <h4>Resuelve con tu equipo un problema de ingeniería real </br>propuesto por
                            <span class="zaragoza-span">Google</span> desde el <span
                                class="zaragoza-span">Hub Hash Code Zaragoza</span> @ <span class="zaragoza-span">EINA</span></h4>
                        <h2>¿Preparado para el reto?</h2>
                        <!--<hr class="intro-divider">-->
                        <br/>
                        <div class="row">
                            <div class=".col-xs-6 .col-md-4">
                        <ul class="list-inline intro-social-buttons" style="margin-bottom:50px;">
                            <li>
                                <h4>
                                    <a href="https://codingcompetitions.withgoogle.com/hashcode/register"
                                       class="btn btn-default btn-lg sign-up"><span class="network-name">Regístrate y únete al Hub Hash Code Zaragoza</span></a>
                                </h4>
                            </li>
                        </ul>
                            </div>
                        </div>

                        <p class="meetup">¡No te pierdas ningún hackathon!<br/>Únete a <a
                                href="http://www.meetup.com/es-ES/Zaragoza-Hackathons/" class="meetup-link">Zaragoza
                            Hackathons</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
</section>
<section id="info">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<h2>Keep in Touch:</h2>-->
                    <p class="summary_text">
                        <br/>
                        <a href="https://codingcompetitions.withgoogle.com/hashcode">Hash Code</a> es una <strong>competición internacional</strong> de programación en equipos
                        organizada por <strong>Google</strong> para estudiantes y profesionales de la industria (18+).
                        En esta competición se forma un <strong>equipo</strong>, se elige un lenguaje de programación,
                        y <strong>Google</strong> propone un problema de ingeniería de la vida real para que los
                        equipo lo resuelvan.
                    </p>
                    <p style="margin-top:20px;" class="summary_text">
                        La competición tiene 3 fases:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="summary_text">
                        <strong><a href="https://codingcompetitions.withgoogle.com/hashcode/register">Registro online</a></strong>:
                        Registrarse es gratis y se realiza en equipos de dos a cuatro personas.
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="summary_text">
                        <strong>Hasta el 25 de febrero</strong>
                        <br>
                        <span class="time">Apúntate ya y registra tu equipo en el Hub Hash Code Zaragoza. </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="summary_text">
                        <strong><a href="https://hashcode.withgoogle.com/overview.html#qualification">Ronda de
                            calificación online</a></strong>: Se participa desde los diferentes hubs.
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="summary_text">
                        <strong>Jueves, 28 de febrero</strong>
                        <br>
                        <span class="time">De las 18:30 a las 22:30 CET</span>
                        <br>
                        <span class="time"><strong>¿Dónde está el Hub Hash Code Zaragoza?</strong></span>
                        <br>
                        <span class="time">En la Sala Tomas Pollán, Edificio Betancourt, EINA.</span>
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6">
                    <p class="summary_text">
                        <strong>Ronda final</strong>:
                        Los equipos con mayor puntuación serán invitados a una de las oficinas de Google para 
                        competir en la Ronda Final de la competición.
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="summary_text">
                        <strong>Sábado, 27 de abril</strong>
                    </p>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <!--
    <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
             <li>
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">twitter</span></a>
            </li>
            <li>
                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">github</span></a>
            </li>
        </ul>
    </div>-->
</section>
<!-- /.banner -->
<!-- Footer -->
<section id="where" style="margin-bottom:15px;">
<div id="mapid" style="height: 400px;"></div>
</section>
<div class="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="header text-center">Organizó:</h3>
                <div class="row logos">
                    <div class="col-md-12">
                        <a href="https://eina.unizar.es/"><img src="/assets/img/logo_eina.png"
                                                               class="img-responsive center-block"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="header text-center">Colaboró:</h3>
                <div class="row">
                    <div class="col-md-3">
                        <a href="http://iaaa.unizar.es/"><img src="/assets/img/iaaa.jpg"
                                                              class="img-responsive center-block"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="http://robots.unizar.es/"><img src="/assets/img/robotics.png"
                                                                class="img-responsive center-block"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://codelabzgz.github.io/"><img src="/assets/img/logo_codelab.png"
                                                               class="img-responsive center-block"></a>
                    </div>
                </div>
                <div class="row logos">
                    <div class="col-md-3">
                        <a href="http://gdgzaragoza.es/"><img src="/assets/img/logo_gdg.png"
                                                                class="img-responsive center-block"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="http://cos2mos.unizar.es/"><img src="/assets/img/COSMOS-logo.png"
                                                                class="img-responsive center-block"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}

<!-- jQuery Version 1.11.0 -->
<script src="/assets/js/jquery-1.11.0.js"></script>
<!-- Plugin JavaScript -->
<script src="/assets/js/jquery.easing.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/assets/js/landing-page.js"></script>
<script>

	var mymap = L.map('mapid').setView([41.683559, -0.884723], 16);
    L.marker([41.683559, -0.884723]).bindPopup("<b>Sala Tomás Pollán</b><br/>Edificio Betancourt<br>EINA").addTo(mymap)
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

</script>
</body>

</html>
